<div class="jumbotron jumbotron-fluid" id="banner">
    <div class="parallax text-center" style="background-image:http://www.adonespitogo.com/img/angular-2.jpg">
        <div class="parallax-pattern-overlay">
            <div class="container text-center" id="size-banner">
                <h2 class="display-2">My Very First Angular App</h2>
                <h3 class="banner-tag-line">Tour Of Heroes</h3>
                <a href="https://github.com/GomezTu/First-Angular-Heroes-App" class="btn linkButton">View on Github</a>
            </div>
        </div>
    </div>
</div>